# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# Logs
*.log
